/* Components */

header {
  background-color: #f9dc5c;
  background-image: url("img/card-shuffle.jpg");
  background-size: 100% 400px;
}

h1 {
  font-family: "Caveat", cursive;
  font-weight: 700;
  font-size: 7rem;
  color: white;
  background-color: rgb(0, 0, 0, 0.7);
}

/* Center header text */
header,
h1 {
  height: 400px;
  line-height: 400px;
}

.card {
  color: white;
  background-color: #343f3e;
  margin: 3rem 1rem;
  box-shadow: 10px 5px 20px black;
}

main {
  width: 90%;
  margin: 0 auto;
}

.card {
  width: 30%;
  min-width: 450px;
}

li {
  list-style: none;
}

/* Input Card */

p#text-area-instructions {
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}

#input-display {
  display: none;
}

#text-box {
  background-color: white;
  color: black;
  padding-top: 0.2rem;
  margin-top: 0.2rem;
  padding-left: 0.5rem;
  height: 25rem;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  overflow: scroll;
}

#text-box:focus {
  box-shadow: 0 0 10px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

#removePickedIems {
  margin-left: 1rem;
}

#action-buttons {
  margin-top: 1rem;
}

/* Output card */
#output-area {
  margin-top: 4rem;
  text-align: center;
  font-size: 1.5rem;
}

/* Footer */

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  background-color: #f9dc5c;
}

footer p {
  text-align: center;
  padding-top: 1rem;
}
