/* Components */

header {
  background-color: #f9dc5c;
  background-image: url("img/card-shuffle.jpg");
  background-size: 100% 400px;
}

h1 {
  font-family: "Caveat", cursive;
  font-weight: 700;
  font-size: 7rem;
  color: white;
  background-color: rgb(0, 0, 0, 0.7);
}

/* Center header text */
header,
h1 {
  height: 400px;
  line-height: 400px;
}

.card {
  color: white;
  background-color: #343f3e;
  margin: 3rem 1rem;
}

main {
  width: 90%;
  margin: 0 auto;
}

.card {
  width: 50%;
}

li {
  list-style: none;
}

/* Input Card */

p#text-area-instructions {
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}

#input-display {
  display: none;
}

textarea#text-box,
#input-display {
  background-color: white;
  color: black;
  padding-top: 0.2rem;
  margin-top: 0.2rem;
  padding-left: 0.5rem;
  height: 25rem;
  border: 1px solid black;
  border-radius: 5px;
}

#removePickedIems {
  margin-left: 1rem;
}

#action-buttons {
  margin-top: 1rem;
}
